<div>
<h2>New Reservation</h2>
<form name="newReservationForm" ng-submit="newReservation()">
    Guest Name: <input type="Text" required placeholder="Name" ng-model="name"><br>
    Contact Number: <input type="Text" required placeholder="Contact Number" ng-model="contactNumber"><br>
    Booking Date: <input type="Text" required placeholder="d/m/YYYY" ng-model="bookingDate"><br>
    Time: <input type="Text" required placeholder="00:00" ng-model="startTime"> : <input type="Text" required placeholder="00:00" ng-model="endTime"><br>
    Room: <select ng-model="rooms">
            <option ng-repeat="room in rooms">{{ room }}</option>
</select>
    <input type="submit" value="Save">
    <a href="/#/reservations">Cancel</a>
</form>
<div>{{ addReservation }}</div>
</div>
