<!DOCTYPE html>
<html ng-app="EditReservModule">

<head>
    <script data-require="angularjs@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.min.js"></script>
    <script src="EditReservationController.js"></script>
</head>

<body ng-controller="EditReservationController">
<h1>New Reservation</h1>
<form name="EditReservationForm" ng-submit="updateReservation()">
    Guest Name: <input type="Text" required placeholder="Name" ng-model="name"><br>
    Contact Number: <input type="Text" required placeholder="Contact Number" ng-model="contactNumber"><br>
    Booking Date: <input type="Text" required placeholder="Booking Date" ng-model="bookingDate"><br>
    Time: <input type="Text" required placeholder="Start Time" ng-model="startTime"> : <input type="Text" required placeholder="End Time" ng-model="endTime"><br>
    Room: <select ng-model="rooms">
    <option ng-repeat="room in rooms">{{ room }}</option>
</select>
    <input type="submit" value="Update">
    <a href="index.html">Cancel</a>
</form>
<div>{{ addReservation }}</div>

</body>

</html>