<div>
<h1>{{message}}</h1>
{{username}}
<form name="searchform" ng-submit="search(username)">
    <input type="search" required placeholder="username to find" ng-model="username">
    <input type="submit" value="Search">
</form>
<div>
    <div>First Name: {{ person.firstName }} </div>
    <div>Last Name: {{person.lastName}} </div>
    <div><img ng-src="{{person.imgSrc}}" title="{{person.firstName}} {{person.lastName}}"> </div>

</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat = "name in nameList">
        <td>{{ name.name }}</td>
        <td>{{ name.contactNumber | number }}</td>
    </tr>
    </tbody>
</table>


<div>{{ error }}</div>
<div>{{ reservations }}</div>

<div>
    <h2>Reservation List</h2>
    <a href="/#/new">New Reservation</a>
</div>
<table>
    <thead>
    <tr>
        <th>Reservation Number</th>
        <th>Guest Name</th>
        <th>Contact Number</th>
        <th>Room</th>
        <th>Rev. Date</th>
        <th>Rev. Time</th>
        <th>Status</th>
        <th>##</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat = "reservation in reservations">
        <td align="center">{{ reservation.reservationNumber }}</td>
        <td align="center">{{ reservation.guest.name }}</td>
        <td align="center">{{ reservation.guest.contactNumber }}</td>
        <td align="center">{{ reservation.room }}</td>
        <td align="center">{{ reservation.duration.bookingDate.dayOfMonth + "-" + reservation.duration.bookingDate.monthValue + "-" + reservation.duration.bookingDate.year}}</td>
        <td align="center">{{ reservation.duration.startTime.hour + "." + reservation.duration.startTime.minute  + " :: " +
            reservation.duration.endTime.hour + "." + reservation.duration.endTime.minute}}</td>
        <td align="center">{{ reservation.status }}</td>
        <td><button ng-click="cancelReservation(reservation.id)" ng-model="btnDisabled">Cancel</button></td>

    </tr>
    </tbody>
</table>
</div>
